*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Inter", sans-serif;
}

body {
   background-color:pink;  
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;

}
   div {
       background-color:#e770a2 ;
       width: 384px;
       padding: 40px;
       text-align: center;
       border-radius: 12px;
   }
    
   h1,p, a {
    color: rgb(12, 11, 11);
   }

   div img {
       border-radius: 50%;
       margin-bottom: 21px;
   }
 
   div h1 {
       font-size: 24px;
       line-height: 36px; 
       font-weight: 600;
       margin-bottom: 4px;
   }

   div strong {
    color: rgb(214, 198, 230);
    font-size: 14px;
    line-height: 21px;
   }

   div p{
    margin-block: 24px;
    font-size: 14px;
    line-height: 21px;
   }

   div a + a {

   }
 
  div a {  
    display: block;
    margin-top: 16px;
    text-decoration: none;
    background-color: #cf628f;
    padding: 12px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    
  }
    
