*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Inter", sans-serif;
}

body {
   background-color:pink;  
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;

}
   div {
       background-color:#e770a2 ;
       width: 384px;
   }

 